### 1.Python String rjust() Method

###### This string helps to give space in front of sentence : Returns a right justified version of the string

In [7]:
txt = "Data Analyst"

x = txt.rjust(30)

print(x, "is my favorite Field.")

                  Data Analyst is my favorite Field.

In [20]:
txt = "Cricket"

x = txt.rjust(0)

print(x, ": I love to play cricket")

Cricket : I love to play cricket

### 2.swapcase() Method

###### Make the lower case letters upper case and the upper case letters lower case:

In [36]:
txt = "Hello My Name Is huNNy"

x = txt.swapcase()

print(x)

hELLO mY nAME iS HUnnY

In [40]:
txt = "dell HP lenovo"
x = txt.swapcase()
print(x)

DELL hp LENOVO

### 3.count() Method

###### Return the number of times the value "apple" appears in the string:

In [45]:
txt = "I Like to Practice SQL, Because it is structured database"

x = txt.count("structured")

print(x)

1

In [51]:
txt = "RCB : Royal Challenger Bengaluru, Esala Cup Namde"
x = txt.count("Namde")
print(x)

1

### 4.find() Method

###### this method is to use where the text is

In [56]:
txt = "I Like to Practice SQL, Because it is structured database"

x = txt.find("Because")

print(x)

24

In [58]:
txt = "jupyter anaconda python sql powerBi"

x = txt.find("python")

print(x)

17

### 5.isalnum() Method

###### If all characters are text or alphanumeric then it is true if not in both then false

In [64]:
txt = "CRICKRT"

x = txt.isalnum()

print(x)

True

In [169]:
txt = "data9"

x = txt.isalnum()

print(x)

True

### 6.Casefold() Method

###### Make the string lower case

In [81]:
txt = "ALL THE BesT for YOur FUtuRE"

x = txt.casefold()

print(x)

all the best for your future

In [83]:
txt = "ALL IS WELL"

x = txt.casefold()

print(x)

all is well

### 7.endswith() Method

###### Check if the string ends with

In [90]:
txt = "ALL IS WELL"

x = txt.endswith(".")

print(x)

False

In [96]:
txt = "ALL IS WELL"

x = txt.endswith("")

print(x)

True

### 8.isdecimal () Method

###### check if all the characters in a string are decimals (0-9):

In [107]:
txt = "84.77"

x = txt.isdecimal()

print(x)

False

In [111]:
txt = "5847"

x = txt.isdecimal()

print(x)

True

### 9.Capitalize() Method

###### Upper case the first letter in this sentence

In [116]:
txt ="i love my INDIA"

x = txt.capitalize()

print(x)

I love my india

In [123]:
txt = "my name is lakhan"

x = txt.capitalize()

print(x)

My name is lakhan

### 10.isprintable() Method

###### Check if all the characters in the text are printable

In [143]:
txt = " I love *  my India"

x = txt.isprintable()

print(x)

True

In [151]:
txt  = "my name is khan"

x = txt.isprintable()

print(x)

True

### 11.islower() Method

###### Check if all the characters in the text are in lower case

In [155]:
txt = "MY NAME IS KHAN"

x = txt.islower()

print(x)

False

In [159]:
txt = "i love my india"

x = txt.islower()

print(x)

True

### 12.isalpha() Method

###### Returns True if all characters in the string are in the alphabet

In [183]:
txt = "dataanalyst"

x = txt.isalpha()

print(x)

True

In [185]:
txt = "dataanalyst9"

x = txt.isalpha()

print(x)

False

### 13.isspace() Method

###### Returns True if all characters in the string are whitespaces

In [192]:
txt = "alliswell"

x = txt.isspace()

print(x)

False

In [196]:
txt = "   "

x = txt.isspace()

print(x)

True

### 14.isdigit() Method

###### Returns True if all characters in the string are digits

In [207]:
txt = "8520"

x = txt.isdigit()

print(x)

True

In [209]:
txt = "arc7"

x = txt.isdigit()

print(x)

False

### 15. replace() Method

###### Returns a string where a specified value is replaced with a specified value

In [216]:
txt = " i like to eat rice"

x = txt.replace("rice","chapati")

print(x)

 i like to eat chapati

In [218]:
txt = " My name is lakhan"

x = txt.replace("lakhan","khan")

print(x)

 My name is khan